.maxposter {
    position:relative;
    overflow:hidden;
    }

/**
 * Постраничная навигация
 */
.maxposter-pages {
    text-align:center;
    overflow:hidden;
    padding:0 6em 0 2em;
    }
    .maxposter-pages .maxposter-paginator {
        text-align:center;
        display:inline;
        display:inline-block;
        margin:1em 0;
        }
        .maxposter-pages .maxposter-paginator li {
            display:inline;
            display:inline-block;
            margin:0 .5em;
            list-style:none;
            }
            .maxposter-pages .maxposter-paginator a:link,
            .maxposter-pages .maxposter-paginator span.current {
                display:block;
                text-decoration:none;
                }

/**
 * Список авто
 */
.maxposter .maxposter-item {
    background:transparent;
    overflow:hidden;
    }
    .maxposter .maxposter-item .maxposter-photo {
        float:left;
        }
    .maxposter .maxposter-item .maxposter-text {
        margin-left:135px;
        }
        .maxposter .maxposter-item .maxposter-text h1,
        .maxposter .maxposter-item .maxposter-text h2,
        .maxposter .maxposter-item .maxposter-text h3 {
            margin-top:0;
            }
        .maxposter .maxposter-item .maxposter-text .maxposter-price {
            font-size:1.2em;
            font-weight:bold;
            }

/**
 * Список авто "Плиткой"
 */
.maxposter .maxposter-tile-row {
    overflow:hidden;
    }
    .maxposter .maxposter-tile-item {
        float:left;
        }
        .maxposter .maxposter-tile-item-last {
            margin-right:0;
            }
        .maxposter .maxposter-tile-item .maxposter-photo,
        .maxposter .maxposter-tile-item .maxposter-text {
            text-align:center;
            position:relative;
            margin:10px;
            }
            .maxposter .maxposter-tile-item .maxposter-photo a {
                display:block;
                position:relative;
                margin:0 auto;
                overflow:hidden;
                }
                .maxposter .maxposter-tile-item .maxposter-photo a .maxposter-icon-special {
                    position:absolute;
                    right:-5px;
                    top:-5px;
                    width:10px;
                    height:10px;
                    z-index:9999;
                    }
        .maxposter .maxposter-tile-item .maxposter-text p {
            white-space:nowrap;
            text-align:center;
            font-size:1em;
            line-height:140%;
            margin:0;padding:0;
            }
        .maxposter .maxposter-tile-item .maxposter-text h3 {
            position:relative;
            text-align:center;
            overflow:hidden;
            }
            .maxposter .maxposter-tile-item .maxposter-text h3 a {
                white-space:nowrap;
                }
        .maxposter .maxposter-tile-item .maxposter-text h3 > span {
            background:transparent;
            position:absolute;
            right:0;
            top:0;
            width:20px;
            height:100%;
            z-index:9999;
            }
        .maxposter .maxposter-tile-item .maxposter-text .maxposter-price {
            font-size:1.3em;
            }
        .maxposter .maxposter-tile-item .maxposter-text .maxposter-previous-price {
            text-decoration:line-through;
            }
        .maxposter .maxposter-tile-item .maxposter-text .maxposter-previous-price-placeholder {
            }

/**
 * Авто
 */
.maxposter .maxposter-auto-info {
    width:auto;
    min-width:36em;
    }
    .maxposter .maxposter-auto-info dl {
        overflow:hidden;
        margin:auto 0;
        }
    .maxposter .maxposter-auto-info dt {
        margin:0;
        float:left;
        clear:both;
        width:25%;
        min-width:12em;
        padding:.6em 4% .6em 1em;
        line-height:1em;
        }
    .maxposter .maxposter-auto-info dd {
        margin:0;
        padding:.6em 0 .6em 1%;
        line-height:1em;
        }
    #maxposter-auto-photo-big {
        text-align:center;
        }
        #maxposter-auto-photo-big img {
            margin:0 auto;
            border:1px solid;
            }
    #maxposter-auto-photos-thumbnails {
        width:564px;
        margin:0 auto;
        padding:5px 1px 0;
        overflow:hidden;
        }
        #maxposter-auto-photos-thumbnails a {
            float:left;
            }
            #maxposter-auto-photos-thumbnails a img {
                margin:5px 21px 5px 1px;
                border:2px solid;
                }
            #maxposter-auto-photos-thumbnails a.last img {
                margin-right:1px;
                }
