<IfModule mod_rewrite.c>
  RewriteEngine On
  
  # we check if the file exists
  RewriteCond %{REQUEST_FILENAME} !-f

  # no, so we redirect to our front web controller
  RewriteRule ^(.*)$ thumbnail.php [QSA,L]
</IfModule>
